# Database Settings
POSTGRES_DB=kb_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

# Test Database Settings
POSTGRES_TEST_DB=kb_test
POSTGRES_TEST_PORT=5433

# Application Database URLs
# For Local Dev:
DATABASE_URL=postgresql://postgres:password@localhost:5432/kb_dev
# For Test:
# DATABASE_URL=postgresql://postgres:password@localhost:5433/kb_test

# Ollama settings
KB_OLLAMA_HOST=http://localhost:11434
